[2021-09-08 08:19] MahboobehJannesari opened #271 "Get id"
Hello,
I want to update some patient instances, how can I do this by rest api?
Is there any way to access IDs to update instances?

Thanks

[2021-09-08 10:28] jamesagnew commented on #271
Please don't use issues to ask questions. See here for information on where to get help with HAPI FHIR: https://github.com/hapifhir/hapi-fhir/wiki/Getting-Help

[2021-09-08 10:28] #271 closed

[2021-09-09 21:30] jvitrifork commented on #268
@tadgh - can you help us out? We can't publish new docker images until someone with admin rights 'fills out the blanks'

[2021-09-11 00:47] tadgh commented on #268
Hey Sorry I completely missed this.  How exactly can I help here? I'm not familiar with the purpose of this PR. I may have admin access, but I don't know who owns the hapiproject dockerhub. If somebody wants to detail exactly what they need from me, happy to help.

[2021-09-11 02:06] AhsanSpica opened #273 "Spring Tool Suite and eclipse gives errors"
Spring Tool Suite and eclipse gives errors!
Please kindly provide guidance how to run it in Eclipse and Spring Tool Suite!
What to add in pom to make it run !

![image](https://user-images.githubusercontent.com/77918674/132932961-42504adc-2c9a-44e2-bdc2-46ee2f046e77.png)

[2021-09-11 08:10] jkiddo commented on #268
The owner of the hapiproject looks like it's Smile CDR:
![image](https://user-images.githubusercontent.com/211696/132941241-6e336194-63e3-408a-9f3e-b861a4ca457d.png)

-maybe @seanmcilvenna knows more about the ownership part.

[2021-09-13 19:56] theGOTOguy commented on #260
@jamesagnew The lack of `$import` functionality is a major pain point for us right now.

I wonder if the reason it hasn't been implemented is because there is still design work to do, or because you haven't had time in light of other priorities.  Would it be acceptable if I submitted a PR implementing a provider in HAPI FHIR and wiring it through to the JPA server?

[2021-09-14 15:06] jvitrifork commented on #268
Ping @seanmcilvenna

[2021-09-15 14:24] seanmcilvenna commented on #268
I could tell it to authenticate with my Docker credentials, which have admin access to the DockerHub project... but, I don't have admin permissions to the Github project, so I can't modify the run. Not sure how I can resolve this issue.

[2021-09-15 15:32] ZuSe opened #275 "ElasticSearch SSL/HTTPS not taken into account?"
I configured ES with protocol set to https.
However it doesn't seem to pay respect to it when starting the server and trying to establish the connection.

[code]
this is how my config in application.yaml looks like.

However, starting the server results in.

Caused by: org.elasticsearch.client.ResponseException: method [HEAD], host [http://iatros-test.es.europe-west3.gcp.cloud.es.io:9243], URI [/o

[2021-09-15 16:26] jkiddo commented on #268
@tadgh 👆

[2021-09-15 16:37] chgl commented on #268
If credentials for Docker Hub were set in this repo as `DOCKERHUB_USERNAME` and `DOCKERHUB_TOKEN`, then creating a new tag called `image/v5.5.0` should trigger the GitHub Action and push a new image tagged as `v5.5.0` to Docker Hub. My slight worry is that action also tries logging into the GitHub Container registry and push the image as `ghcr.io/hapifhir/hapi``, for which no credentials may be se

[2021-09-15 17:13] catteneo commented on #247
What was the solution?

[2021-09-15 17:33] jvitrifork commented on #247
@mazbeh / @duyleduc / @catteneo - due to reasons listed here https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/274 you'll see that not all properties can be configured through the application.yaml as a regular Spring Boot app as it is not running with an Embedded Tomcat, but instead deployed to a standalone Tomcat. Very recently - with https://github.com/hapifhir/hapi-fhir-jpaserver-sta

[2021-09-15 17:36] jvitrifork commented on #275
Feel free to investigate it and throw us a PR

[2021-09-15 19:58] ZuSe commented on #275
I do this when I find time.
However my last PR is still not merged, so the ticket is first of all for other folks who might run into that issue ;)

[2021-09-15 19:59] jvitrifork commented on #275
Which PR?

[2021-09-15 20:00] ZuSe commented on #275
https://github.com/hapifhir/hapi-fhir/pull/2869

[2021-09-15 20:00] jvitrifork commented on #275
That is not this project

[2021-09-15 20:06] jvitrifork commented on #275
FWIW - The protocol is set here: https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/9f65314537e5ab6f63fbceba2a5aa6a300541b3f/src/main/java/ca/uhn/fhir/jpa/starter/EnvironmentHelper.java#L79 - so the bug does not look like its located in this project but instead in https://github.com/hapifhir/hapi-fhir

[2021-09-16 11:37] RafiqueMohammed commented on #213
I am facing the same issue. I just pulled the docker and ran the command.. server is up but I am seeing 404 no matter what resource endpoint or /metdata i try.
Check the screenshot
![image](https://user-images.githubusercontent.com/3153288/133605293-b52a5af3-cb87-4662-aa52-f41450ed2c75.png)

and in CLI i have noticed this. Some class format Exception :

![image](https://user-images.githubuserconte

[2021-09-16 12:28] mazbeh commented on #247
@jvitrifork  thank you very much for your response :)) @catteneo because it was an urgent case on our side, i have installed  nginx as reverse proxy and have secured it with that !

[2021-09-22 17:05] jkiddo commented on #268
@tadgh ping

[2021-09-27 08:55] kermit-sad-frog opened #276 "Docker arm64 image"
Hi all, I am a happy user of the Apple M1 chip.

I would like to use the Hapifire docker image but I am faced with an issue that it does not work for me. But I was managed to build by my own image for arm64.

It works without any issue and as I suspect no additional effort for required from the dev side.

Could I ask you to build a docker image for the HapiFire server and push it to the docker hub

[2021-09-27 12:28] jvitrifork commented on #276
Sure - that sounds like a good idea. Did you have to change anything or was it sufficient for you just to build it locally. AFAIK, we can add another GH action like https://medium.com/swlh/using-github-actions-to-build-arm-based-docker-images-413a8d498ee and run that as well for `arm` targets. This only highlights the need for giving the https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issu

[2021-09-27 12:45] kermit-sad-frog commented on #276
I have changed nothing. I built a docker image
[code]
and everything work as expected.

[2021-09-27 14:48] tadgh commented on #268
Heya, I have enabled github pages for this repo, and pushed the `gh-pages` branch. The next step is we need credentials for the dockerhub repo (I'm in the process of finding out who owns them) as secret variables in the CI settings? I'm not familiar with GH actions so I'm happy to take some guidance here

[2021-09-27 14:54] jkiddo commented on #268
I think @seanmcilvenna owns it

[2021-09-27 15:22] chgl commented on #276
The docker/build-push action has a platform setting (see e.g. https://github.com/chgl/fhir-server-exporter/blob/master/.github/workflows/ci.yaml#L120 ) which allows building multiple architecturs. Both distroless and tomcat have arm V8 variants available, so adding it to the ci shouldn't be too difficult.

[2021-09-27 16:43] tadgh commented on #268
I've gotten admin access to both this repo, and the dockerhub page. I've added my personal access token from dockerhub and my account name as `DOCKERHUB_TOKEN` and DOCKERHUB_USERNAME` respectively. Anything else I can do?

[2021-09-27 17:53] jkiddo commented on #268
This time the login fails at the next step: the Github Container registry

[2021-09-27 18:17] chgl commented on #268
I think we can remove it temporarily to avoid it blocking the release. There have been updates to ghcr.io that simplify authentication and don't require the need for a Personal Access Token. I can create a PR to disable it if desired.

[2021-09-27 18:44] jkiddo commented on #268
@chgl throw a PR and Ill add it

[2021-09-27 19:26] jkiddo commented on #268
![image](https://user-images.githubusercontent.com/211696/134972144-61db475a-fa26-4d9f-9104-ccca2876bcf5.png)

[2021-09-27 19:27] jkiddo commented on #268
![image](https://user-images.githubusercontent.com/211696/134972247-ed26c010-4fdd-4c8e-abfd-47eecb7c5af3.png)

[2021-09-27 19:42] tadgh commented on #268
Glorious! We all set here then?

[2021-09-27 19:44] chgl commented on #268
I guess we could make double-sure everything worked by updating to 5.5.**1** now 😅

[2021-09-27 19:47] jkiddo commented on #268
@chgl if you add the arm64 stuff Im game 😉

[2021-09-27 20:53] chgl commented on #268
Haha, sure why not. I wanted to update to the newer https://github.com/docker/metadata-action anyway.

[2021-09-28 19:33] #268 closed

[2021-09-30 15:38] chgl commented on #276
@kermit-sad-frog do you mind trying if the image built via #279 (see https://github.com/chgl/hapi-fhir-jpaserver-starter/actions/runs/1284340067) works on your hardware?

[code]

[2021-10-05 07:35] #276 closed

[2021-10-05 08:10] jvitrifork opened #280 "Default to Spring Boot behaviour"
As discussed on https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/274 - it might be worth to default to regular Spring Boot behaviour in our Docker images. The project should still support that a regular WAR file can be built - but there is little reason for this to be the default choice in the Docker file which instead should default to using Spring Boot. The assumption here is that th

[2021-10-05 13:55] chgl commented on #280
Sounds good to me! Another possible enhancement would also be leveraging jar layering: https://docs.spring.io/spring-boot/docs/current/maven-plugin/reference/htmlsingle/#packaging.layers and https://spring.io/guides/topicals/spring-boot-docker/ (see "Spring Boot Layer Index").

The distroless "flavor" of the container image should already be using an embedded tomcat.

[2021-10-08 09:21] fragaLY opened #282 "Add extension example"
Hello, team,

Could you please share the knowledge about the extension addition, i.e. citizenship via configurations?
https://www.hl7.org/fhir/extension-patient-citizenship.html

Due to the fact of using the out-of-box solution of hapi-fhir-jpa-server, it would be nice to have the simple solution of adding any extension.

[2021-10-13 08:21] jenspetervester opened #283 "Large(ish) transaction bundles no longer work with SQL Server"
I have configured hapi-fhir-jpaserver-starter to use SQL Server using the mssql-jdbc driver version 9.4.0.jre11.

When using hapi-fhir-jpaserver-starter with the hapi-fhir 5.4.1 dependency, posting [this bundle](https://gist.github.com/jenspetervester/006a60e6c966ade620f9702d4bb06863) worked fine (but a bit slowly and expunge only worked partially).

After the upgrade to 5.5.1, the well-known SQL

[2021-10-13 11:43] #283 closed, assigned to nobody

[2021-10-13 11:45] #282 closed, assigned to nobody

[2021-10-20 12:36] ilanl opened #284 "High Availability - Set replicas"
Is there a high availability section somewhere for the number of replicas ?

[2021-10-31 02:50] darmawan01 opened #285 "How To Enable Open API / Swagger UI"
Hi there, i got stuck on enabling the swagger UI. i have run using docker, i can access metadata but not found with swagger-ui.

thanks for help 🙏🏻

[2021-10-31 10:23] jkiddo commented on #285
Its comming in the next release

[2021-11-10 09:20] jvitrifork commented on #264
@tadgh PING! PING! PING! PING!

[2021-11-10 14:26] darmawan01 commented on #285
Got it, wait for it

[2021-11-10 14:26] #285 closed

[2021-11-10 19:58] jkiddo commented on #285
Done - see https://github.com/hapifhir/hapi-fhir-jpaserver-starter/commit/ea3f10ec86774abfaedf220f46a7b515f9751d26

[2021-11-15 08:19] cosminflorica opened #288 "Hibernate error on Conditional create"
Running
[code]

Returns:

[code]

I think it will only return this error when only one Patient matches the identifier.

[2021-11-15 08:27] cosminflorica commented on #288
Running the server locally, I have the same behavior when only one Patient matches the identifier. in eather cases:
`If-None-Exist: identifier=http://example|123`
or
`If-None-Exist: identifier=|123`

By setting:
[code]
on application.yaml everything works as expected but I'm not sure how it will influence the transactions or queries.

[2021-11-16 11:51] swapnilthale13 opened #289 "_content search does not work with subject key"
Hello Team,
we have noticed that, when we do a _content search with large data set, server does not give any result.
For example when we want do a content search for specific patient with below URL params, it does not work and gives timeout error or sometime it gives below error
Sample url - **https://hapi.fhir.serverurl/fhir/MedicationStatement?subject=8f5b07c9-075a-4cc5-9d70-f2a272d6c64b&_conten

[2021-11-18 15:27] ZuSe commented on #280
Agree.
There is also distroless with java 17 close by. Shall we upgrade to it? It tried it out for some weeks, the whole project seems to work with it.
Only think I had to do was updating maven to 3.8.3

[2021-11-18 15:29] ZuSe opened #290 "[Update] Push master to work with HAPI 5.6.0"
New version of hapi has been released.
We should upgrade the master to make use of it.

@jamesagnew  @tadgh  who is mainly responsible to keep the projects aligned?

[2021-11-18 19:24] jkiddo commented on #290
Here you are @ZuSe : https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/291

[2021-11-18 19:26] jkiddo commented on #290
- more specifically, https://github.com/hapifhir/hapi-fhir-jpaserver-starter/commit/a58ef1cc7a4a572c7e1abb40d31277a581bfb877

[2021-11-18 19:28] jkiddo commented on #280
@ZuSe will you draft a PR?

[2021-11-19 10:49] ZuSe opened #292 "Problem with flyway after upgarding to 5.6.0"
There seems to be a problem after upgrading to 5.6.0 from 5.5.3 with an existent database
@jkiddo  @tadgh  Should that have been fixed by your MR from yesterday or is it tbd?

I am running it with Java 11 on Ubuntu 20.04, PSQL 13.4

This is my local config regarding the db:
[code]

[code]

[2021-11-19 13:22] ZuSe commented on #292
Potential solution for now is to set:

  flyway:
    check-location: false
    **baselineOnMigrate: true**

[2021-11-19 13:29] jkiddo commented on #292
I guess the `baselineOnMigrate: true` should have been part of the MR yesterday. @ZuSe can you confirm that it works as intended if you add that part to the yaml and run the application on an existing 5.5.0 database?

[2021-11-20 00:07] ZuSe commented on #292
confirmed

[2021-11-25 08:34] ZuSe commented on #292
Thanks for the fix

[2021-11-25 08:34] #292 closed

[2021-11-25 13:08] ZuSe commented on #290
Thanks

[2021-11-25 13:08] #290 closed

[2021-11-26 20:08] #275 closed

[2021-12-16 22:54] jaison-b opened #298 "Add setting to enable storing of resource json in lucene index"
Add configuration setting to enable storing of resource json along with index mapping in Lucene/Elasticsearch.

This is useful in cases where after performing a search operation the resulting resource identifiers don't have to be
looked up in the persistent storage, but rather the inline stored resource can be used instead.

For e.g - Storing Observation resource in lucene index would be useful wh

[2021-12-16 23:01] jaison-b commented on #298
This is related to https://github.com/hapifhir/hapi-fhir/issues/2838

[2022-01-05 17:50] AdrianLsk opened #303 "turning off snapshot generation"
Hi, I am trying to import npm ig pack for nictiz.fhir.nl.stu3.zib2017 2.1.8, but it fails on snapshot generation for gp-DiagnosticResult.

Is it possible to turn it off or exclude the problematic profile using application.yaml configuration?

[2022-01-08 19:22] jkiddo commented on #303
That would be a 'no' to both questions

[2022-01-08 19:24] jkiddo commented on #289
That would probably be something you should address at https://github.com/hapifhir/hapi-fhir

[2022-01-08 19:26] jkiddo commented on #288
The server shouldn't return the error `Unable to access lob stream; nested exception is org.hibernate.HibernateException: Unable to access lob stream`. Please address this to https://github.com/hapifhir/hapi-fhir

[2022-01-08 19:27] jkiddo commented on #280
@ZuSe will you still draft the PR?

[2022-01-08 19:29] jkiddo commented on #273
Closed due to inactivity

[2022-01-08 19:29] #273 closed

[2022-01-08 19:31] jkiddo commented on #270
@costateixeira added with https://github.com/hapifhir/hapi-fhir-jpaserver-starter/commit/ea3f10ec86774abfaedf220f46a7b515f9751d26

[2022-01-08 19:31] #270 closed

[2022-01-08 21:54] AdrianLsk commented on #303
OK, thank you

[2022-01-08 21:55] AdrianLsk commented on #303
OK, thank you

[2022-01-08 21:55] #303 closed

[2022-01-18 02:31] tsun424 opened #306 "Dealing with FHIR extensions"
The chapter [3.3 Profiles and Extensions](https://hapifhir.io/hapi-fhir/docs/model/profiles_and_extensions.html) in the HAPI-FHIR website talking about supporting extensions in HAPI FHIR, but I couldn't figure out how we can support extensions in this starter project, I would appreciate if anyone could give me some advice about supporting extensions in this starter project.

[2022-01-23 14:56] #289 closed

[2022-01-29 19:34] jkiddo commented on #298
@jaison-b it looks like this is part of https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/299, right?

[2022-02-02 03:38] joeflack4 opened #310 "Failed to load API definition"
# Description
When I try to make a GET request on my resources (in the swagger-ui, at least) at my server running on http://20.119.216.32:8080/, I get error [`Failed to load API definition.`](http://20.119.216.32:8080/fhir/swagger-ui/).

Note that http://20.119.216.32:8080/ won't load right now. I'm working with my webhost to re-open the port. I think that's why it's saying 404 not found. The cont

[2022-02-02 13:55] patrick-werner commented on #44
Switched to docker with external properties, closing here.

[2022-02-02 13:55] #44 closed

[2022-02-02 13:57] patrick-werner commented on #70
as this is open for quite a while, and is a very specific use-case. I'm closing this one here.

[2022-02-02 13:57] #70 closed

[2022-02-02 22:42] jaison-b commented on #298
Yes, it is part of #299

[2022-02-03 08:50] jkiddo commented on #298
Then it is already added ;)

[2022-02-03 08:50] #298 closed

[2022-02-07 22:09] #310 closed

[2022-02-09 16:10] joeflack4 opened #313 "Get docker to work on Apple silicon / M1"
## Description
When using a Macbook using an apple silicon / M1 CPU, `docker-compose up -d --build` fails.

## Errors
### 1st error message
After doing `mvn clean install`, when doing `docker-compose up -d --build`, we got:
`no matching manifest for linux/arm64/v8 in the manifest list entries`

### 2nd error message
After doing what's shown in "Thing's we've tried", we got:
`failed to solve: rpc e

[2022-02-09 17:06] jkiddo commented on #313
The image is currently only build for x86 - der https://hub.docker.com/r/hapiproject/hapi/tags

PR's for adding other archs as part of the GH action are welcome

[2022-02-17 23:56] jkiddo opened #315 "Circular references from core library in 5.7.0"
[code]

@tadgh or SmileCDR-folks: Could you please have a look while I'll overwrite it for now in the default settings

[2022-02-17 23:59] tadgh commented on #315
Where are you seeing this? hapi-fhir-jpaserver-starter? FWIW we are completely ripping out these configs in 6.0.0, but im happy to release a 5.7.1 with this fixed

[2022-02-18 00:01] jkiddo commented on #315
master branch, this project

[2022-02-18 00:09] tadgh commented on #315
ah I have a rel_5_7 branch that I will put up for MR.

[2022-02-18 00:12] tadgh commented on #315
Can you do me a favour and checkout `rel_5_7` and see if that works for you locally? if so, i'll work on merging it into master.

[2022-02-18 00:18] jkiddo commented on #315
`rel_5_7` works

[2022-02-18 00:24] jkiddo commented on #315
Hmmm ... changing back to master and now I can't reproduce ...

[2022-02-18 00:24] jkiddo commented on #315
🤦 - I forgot that I now overwrite that in the yaml file ...

[2022-02-18 01:03] tadgh commented on #315
Wait, overwrite which in the yaml? is it working or no? Happy to dig into this if it is broken, either way i'll have rel_5_7 up shortly.

[2022-02-18 17:34] chgl commented on #313
Hm, it should build arm64 as well (https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/.github/workflows/build-images.yaml#L15) it's also listed in the os/arch: https://hub.docker.com/layers/hapiproject/hapi/latest/images/sha256-4ce79b31a47b2be211405357ef433d2486aaf3e174fff3969172c5bf4b836400?context=explore

You could try replacing the 'build' part of the docket compose file by in

[2022-02-21 06:36] jschneid-nmdp opened #317 "strange problem(s) using existing MySQL 5.7 database"
I've been running into problems using hapi-fhir-jpaserver-starter with a MySQL 5.7 database.

The MySQL 5.7 database I'm using is populated with data, and has been used with another hapi-fhir server (based on hapi-fhir-jpaserver-uhnfhirtest).  The database schema has been migrated to hapi-fhir 5.6.0 using the hapi-fhir-cli tool.

Steps to reproduce the problem(s) are:
1. Clone the hapi-fhir-jpaser

[2022-02-21 14:30] MacL3an opened #318 "Unable to start using Docker Compose and MySQL database"
I'm just trying to follow the instructions in the readme, starting the HAPI Server using the Docker compose file running MySQL. I've updated the file `src/main/resources/application.yaml` to contain the following:

[code]

And I then run:
`docker-compose up -d --build`

I have attached the logs. Some potential clues include:
[code]

Any suggestions? When reverting the changes to the `application.y

[2022-02-21 14:31] MacL3an commented on #193
I just ran into the same issue. Has anyone worked around it? Tried both LOINC and Snomed.

[2022-02-21 22:49] jkiddo commented on #315
@tadgh if you remove https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/deefd595dd0189efe9f1945a7aac7757a04f3cba/src/main/resources/application.yaml#L2 and https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/src/main/resources/application.yaml#L3 you can see the error on the master branch

[2022-02-21 22:55] jkiddo commented on #318
@MacL3an your log says that you are using H2 dialect

`2022-02-21 14:09:27.072 [main] INFO  org.hibernate.dialect.Dialect [Dialect.java:175] HHH000400: Using dialect: ca.uhn.fhir.jpa.model.dialect.HapiFhirH2Dialect`

-but your driverClassName says you are targeting MySQL

[2022-02-22 00:12] tadgh commented on #315
Right, we've completely reworked the config in 6.0.0, so i think it's probably going to stay broken until then unless the fix is dead easy and we have a reason to backport it. I'll open a branch now to bump to 6.0.0 and we'll see what the error looks like there.

[2022-02-22 03:52] smilenannan opened #320 "Failed to run JPA server after migrating from MySQL to PostgreSQL"
I am trying to migrate from MySQL to PostgreSQL by using pgloader (https://github.com/dimitri/pgloader). I also manually set sequence in PostgreSQL after migrate by pgloader, following discussion.

_Originally posted by @jamesagnew in https://github.com/hapifhir/hapi-fhir/issues/2896#issuecomment-900407159_

But when I start hapi jpa server, I got  the following errors.
If I start hapi jpa server

[2022-02-22 04:47] #320 closed

[2022-02-22 05:50] jschneid-nmdp commented on #317
Today I found that setting the Hibernate property `hibernate.hbm2ddl.auto=validate` prevents the server from printing the "Error executing DDL" stack traces.  E.g.:

[code]

However, the Patient/1 request still fails (returns OperationOutcome saying "Resource Patient/1 is not known").

[2022-02-22 08:05] MacL3an commented on #318
Ah, commenting out

did the trick. Thank you! I will create a PR to update the docs about this.

[2022-02-22 08:55] #318 closed

[2022-02-22 10:12] MacL3an opened #322 "Unknown file: hapi-fhir-cli....zip when uploading terminology"
Trying to follow the instructions on how to load a CodingSystem into HAPI FHIR. Running HAPI using docker compose and MySQL. I then run:
[code]

Which gives me the following errors in the logs:
[code]

When I try doing the same against a servert started using `hapi-fhir-cli run-server -v r4` it works fine, but this the drawback then is that it's using a local  DB and I would like to use an externa

[2022-02-22 10:12] MacL3an commented on #322
Ah, noticed this might be a duplicate of [this](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issues/193) one.

[2022-02-22 10:13] MacL3an commented on #193
I just ran into the same issue. Has anyone worked around it? Tried both LOINC and Snomed. It seems to work fine starting the server using the CLI, but not when starting it using this project.

[2022-02-25 20:12] jkiddo commented on #315
@tadgh  I'm fine closing this. There's no reason to add extra work for you guys if this has changed alot in 6.0.0

[2022-02-26 04:23] tadgh commented on #315
I wanted to wait until we get the 6_0_0 branch finished to see if the cycle
still exists before closing this out, if that works

On Fri, Feb 25, 2022 at 12:13 PM Jens Kristian Villadsen <
***@***.***> wrote:

--
--Gary

[2022-03-01 18:08] jschneid-nmdp commented on #317
This issue is related to MySQL identifier case sensitivity (e.g. for table names) being linked to the case sensitivity of the underlying operating system.  See also:

https://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html

The MySQL server I've been using runs in a (Linux) docker container.  Rebuilding the MySQL server, setting the system variable `lower_case_table_names=1` and t

[2022-03-01 18:28] jschneid-nmdp commented on #317
Another slightly strange part of this story is, only the hapi-fhir-jpaserver-starter FHIR server was affected by the MySQL lower_case_table_names=1 setting.  The other FHIR server based on hapi-fhir-jpaserver-uhnfhirtest was not affected by that setting.

[2022-03-02 15:45] jkiddo commented on #280
Default spring behavior can now be used with the distroless images. Fixed with https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/319

[2022-03-02 15:45] #280 closed

[2022-03-03 07:07] jkiddo commented on #247
Solved with https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/319

[2022-03-03 07:07] #247 closed

[2022-03-03 15:15] ColumbusDong commented on #315
Is timeline for the repo to be updated to 6.0.0?

[2022-03-06 07:25] jkiddo commented on #313
@joeflack4 is it still not working for you?

[2022-03-06 18:18] jkiddo commented on #134
@edclement is this still an issue for you? Are you still using DSTU2?

[2022-03-06 18:30] jkiddo commented on #48
@chgl have you had a chance to have a look at https://www.smilecdr.com/benchmarking-smile-cdr in terms of performance?

[2022-03-06 19:35] psavva commented on #306
What have you tried? What error are you facing?
I would imagine that you'd make more use of extensions using their fhir client, rather than something specific in the jpa server...

@jkiddo correct me if I'm wrong

[2022-03-06 19:41] jkiddo commented on #306
@tsun424 I think your question is better suited for http://chat.fhir.org. Extensions are done when profiling. How to profile is definitely a question better suited for http://chat.fhir.org

[2022-03-06 20:54] tsun424 commented on #306
Hi @psavva , thanks for your reply, I've asked the question in the Google Group and some one replied me there, it's discussed there.

Hi @jkiddo The initial idea was information missing in the documentation, I didn't know how to report and who is maintaining the documentation, so created this issue, I'll close this issue here. Thanks.

[2022-03-06 20:54] #306 closed

[2022-03-07 11:28] patrick-werner opened #325 "ReindexProvider not registered"
The ReindexProvider for the new &reindex operation was not registered.

[2022-03-07 14:37] ZuSe opened #327 "Define Additional CORS Headers"
Is there any possibility to add custom cors headers to the whitelist?
I have some crazy web app which is adding an sentry-trace header to all requests, for whatever reason.

Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://my-server.dev/fhir/QuestionnaireResponse?_format=json&_pretty=false&subject=Patient/24bfcc75-ef9a-475d-a863-fa35d5f47bc1. (R

[2022-03-07 19:13] jkiddo commented on #327
Have you checked the documentation at https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/40d7b9ce27355fedb3fb70fcd79a09d7bd8290bb/src/main/resources/application.yaml#L108 - there may be some options to allow such use

[2022-03-08 13:08] ZuSe commented on #327
As far as I can see it only supports a list of additional hostnames, but no custom headers as I wrote above :/

[2022-03-08 15:43] jkiddo opened #328 "Dialect/db bug"
When running `docker run -p 8080:8080 -e hapi.fhir.default_encoding=json -e "--spring.config.location=https://gist.githubusercontent.com/jkiddo/bf86297d5326b285877bea468f664fc5/raw/44114e4a440daac6aa45efe280cba191a404ad89/application.yaml" hapiproject/hapi:v5.7.0`

Configuration can be seen on https://gist.github.com/jkiddo/bf86297d5326b285877bea468f664fc5

Bug is also present on other db's than H

[2022-03-08 20:03] jkiddo commented on #328
I gave it a shot with postgres and got another error:

[code]

Looking more closely at the entity definitions in core if found the following:

https://github.com/hapifhir/hapi-fhir/blob/cde39dcc6caba4cb12dff6b6949570a794e9129d/hapi-fhir-jpaserver-model/src/main/java/ca/uhn/fhir/jpa/model/entity/NpmPackageVersionEntity.java#L84

which I think is the reason for the bug as the IG that I load into HAP

[2022-03-08 20:48] jamesagnew commented on #328
Hmm, that's a different issue than the one above for sure.

Agree with your assessment, the cause is that field's max length. Looks like we should probably double that.

FWIW the fix is just to bump that length from 10 to 20 (?), and add a migration task to `HapiFhirJpaMigrationTasks`.

[2022-03-09 11:10] jkiddo commented on #328
So something like the following (for PG):

[code]

[2022-03-09 13:58] jamesagnew commented on #328
You'd want it to apply to all databases, so it would be something more like this one:

[code]

..as well as of course updating the Hibernate annotation.

[2022-03-09 22:53] XcrigX opened #330 "Feature: health check endpoint"
Is there a health check endpoint enabled?

Kubernetes (and various monitoring tools) can utilize health checks endpoints to monitor the status of a server.
I was thinking to either add SpringBoot Actuator or manually add a lightweight /health endpoint if something doesn't already exist.
Ideally it would just return HTTP: 200 - perhaps a simple JSON return.

SpringBoot Actuator returns something li

[2022-03-10 17:22] jkiddo commented on #330
@XcrigX a PR using Spring Booy Actuator would be most welcome

[2022-03-11 02:11] joeflack4 commented on #313
This wasn't an issue on my computer, but that of my colleague's: @Sigfried

@Sigfried: You probably don't have time for this, but if you do, do you want to see if chgl's suggestion works?

[2022-03-14 09:28] muhammad-levi opened #332 "Subscription ${SUBSCRIPTION_NAME} could not be activated"
While trying to start the server app (v5.7.0) in a virtual machine, I got these error logs:
[code]

From the log itself, I still don't understand some things. What are the possible causes? What are the "undesirable outcomes" like?

[2022-03-16 11:43] jamesnetherton opened #334 "Docker container does not start successfully with FHIR version DSTU2"
Running:

[code]

Results in:

[code]

[2022-03-16 11:46] jamesnetherton opened #335 "Support for FHIR versions DSTU2_HL7ORG & DSTU2_1"
Not sure if I've missed something, but I don't see any support for using FHIR versions `DSTU2_HL7ORG` or `DSTU2_1`.

I tried running the `hapiproject/hapi` docker container with those versions and the Spring Boot app does not start.

[2022-03-16 13:46] jamesagnew commented on #328
https://github.com/h2database/h2database/issues/3457

[2022-03-16 15:01] jamesagnew commented on #335
Got it. Well, I guess I'd say that we would certainly consider a pull request adding these, but it's unlikely that the HAPI FHIR core team would take this on, as we just haven't seen any demand.

[2022-03-17 06:26] adnaanbheda opened #336 "How can I modify code in hapi-fhir and deploy?"
I don't know if would be called an "issue" as such, but I couldn't find documentation regarding modifying the behavior of one of the modules in hapi-fhir and deploying the build using the starter code.

I specifically want to modify the ValueSet expansion behaviour and how the filter parameter works

I see that `pom.xml` lists the dependency but how would I point to a local build?

I'm new to the

[2022-03-22 10:10] jkiddo commented on #330
@XcrigX added with https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/337 using vanilla Actuator setup

[2022-03-22 22:38] XcrigX commented on #330
@jkiddo - You beat me to it by half a day. I didn't check my email this morning to see this update and spent the last hour finding the same version problem with HikariCP that you did, lol. Oh well, thanks!

[2022-03-22 22:41] #330 closed

[2022-03-22 22:58] XcrigX commented on #336
This is going to be semi-difficult if you're new to Java/Maven, and will likely be a pain to maintain.
It may be cleaner/easier to make your modified feature a custom operation instead of trying to override the default $expand behavior. That way it's distinct and you don't have to mess with the base libraries and keeping it up to date as those base libraries change (merging changes, etc).
see: htt

[2022-03-24 12:57] jkiddo commented on #328
Would you like a PR to 6.0.0 or to a 5.7.X?

[2022-03-29 22:35] XcrigX opened #339 "default properties in classpath application.yaml"
I have noticed that mdm is being enabled in my deployment.  I have that property commented out in the application.yaml I'm deploying with the .jar file, but it is uncommented and 'true' in the classpath src/main/resources/application.yaml so it is not being overridden to turn off again.
It appears advanced_lucene_indexing is also defaulted to true (not certain the implications of this one).

I'm n

[2022-04-03 23:02] joeflack4 commented on #188
I'm having the same problem. I'm a newbie with debugging Java web apps.

1.
<img width="733" alt="Screen Shot 2022-04-03 at 7 00 41 PM" src="https://user-images.githubusercontent.com/13045020/161452542-a5666721-cbaf-4b72-a6f6-c2287004b202.png">

2.
<img width="246" alt="Screen Shot 2022-04-03 at 7 00 57 PM" src="https://user-images.githubusercontent.com/13045020/161452543-0b97b0ce-36bf-431c-8385-3

[2022-04-04 00:16] joeflack4 commented on #188
It looks like this was because I had the free, community edition installed. I just paid up and now have Ultimate.

Now I'm trying to debug as described above and in [the readme]([1.txt](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/files/8405840/1.txt)
[2.txt](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/files/8405841/2.txt)). But I get errors.

I'm working with two different

[2022-04-04 00:28] joeflack4 opened #341 "Can't debug on IntelliJ Ultimate"
## Preface
Related issue: #188 . I posted in there, but I couldn't re-open the issue, so I'm making a new issue.

Failed debug configs I tried:
1. [Server 1](https://github.com/HOT-Ecosystem/hapi-fhir-jpaserver-starter), 'boot'
2. [Server 1](https://github.com/HOT-Ecosystem/hapi-fhir-jpaserver-starter), Tomcat
3. [Server 2](https://github.com/pnrobinson/hapi-pheno-server/tree/develop), 'boot'

##

[2022-04-04 07:26] jkiddo commented on #188
1) You don't need a commercial license to IntelliJ for debugging the project
2) The UI does not load when you are running it as a debug instance from within Intellij. This is a known bug. All the rest of the FHIR server does run. Go to eg. /fhir/metadata when you are debugging - then you should see that all the REST endpoints are working perfectly fine.

[2022-04-04 22:54] joeflack4 commented on #341
Closing, as @jkiddo responded to another issue with the quote below. I confirmed that he is correct.

@jkiddo Do you want me to open a new issue for this error that I'm still seeing (even though the server runs anyway)?:
[code]

[2022-04-04 22:54] #341 closed

[2022-04-04 22:58] joeflack4 commented on #188
Thanks @jkiddo . Maybe so, regarding to (1) maybe so, but I tried a bunch of different ways, both on stackoverflow and reading the HAPI docs, and for the life of me, I couldn't figure it out. Just so you know, the instructions that you have [in the readme](https://github.com/hapifhir/hapi-fhir-jpaserver-starter#running-hapi-fhir-jpaserver-directly-from-intellij-as-spring-boot) do _not_ work for th

[2022-04-05 01:34] DoodlesOnMyFood opened #342 "Partitioning doesn't seem to work anymore?"
I've been using partitioning and multitenancy for a while for a fork I made back in December and it works like a charm.

I tried this today and it no longer seems to be the case.

I followed the examples given at https://hapifhir.io/hapi-fhir/docs/server_jpa_partitioning/partitioning.html

[code]

Left everything else as it was, and ran spring-boot:run with the boot profile.

It left a large error

[2022-04-05 08:12] jkiddo commented on #341
@joeflack4 the issue is already listed here: https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issues/165

[2022-04-05 18:47] joeflack4 commented on #341
@jkiddo That's not the error I was having. I had no problem running that command; never got the error mentioned in #165. This was related to running the debugger in 2 specific ways mentioned in the the documentation, and different resulting errors.

[2022-04-05 18:56] jkiddo commented on #341
@joeflack4 - looking at your errors:

* https://github.com/hapifhir/hapi-fhir-jpaserver-starter/files/8405840/1.txt : `Web server failed to start. Port 8080 was already in use.` - that is caused as you have something else running on 8080 already
* https://github.com/hapifhir/hapi-fhir-jpaserver-starter/files/8405841/2.txt : `ERROR c.u.f.jpa.term.BaseTermReadSvcImpl [BaseTermReadSvcImpl.java:1796]

[2022-04-05 19:04] jkiddo commented on #334
It looks like you have mdm enabled, which may not work for DSTU2

[2022-04-05 19:11] XcrigX commented on #334
This likely relates to https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issues/339.

[2022-04-05 19:37] joeflack4 commented on #341
Hey again. Yeah, the port 8080 being used already, I saw and fixed that quickly. And I deleted and re-uploaded `1.txt`, but maybe it used the old one that I uploaded. That was no longer a problem. The problem I was still having was the 3rd one you mentioned; the `home.html` template not found / failing to render. I am aware of the second issue as well, and I mentioned that earlier in the OP.

So t

[2022-04-06 23:38] chgl opened #344 "Error "Type 'blob' does not exist" when trying to run v5.7.0 with a PostgreSQL database"
I'm trying to update the Helm chart to the latest release, v5.7.0, but when starting the container I get the following warning/error:

[code]

which is caused by

[code]

The container has the following env vars set, which correspond to the settings in the application.yaml:

[code]

I'm not sure if this relates to either https://github.com/hapifhir/hapi-fhir/issues/3012 and/or https://github.com/h

[2022-04-07 18:41] jkiddo commented on #344
Can you provide a docker-compose setup that exposes the error?

[2022-04-07 19:30] XcrigX commented on #339
Hi. I'm deploying as a SpringBoot runnable .jar file. So I deploy an application.yaml file with my config into the same directory as the .jar. (I think this would be the same issue using the default Docker deployment and injecting an application.yaml into the container.)

I believe the way SpringBoot properties overrides work is that any properties set in a deployed application.yaml file will over

[2022-04-07 20:20] XcrigX commented on #339
Side note: If you run the unit/integration tests on master currently, there are several failures. If you comment out the mdm_enabled property in application.yaml they pass again. I haven't investigate the details.

Running the tests with:
_mvn clean verify  -Pboot_

This is the error summary:
_ERROR] Errors:
[ERROR]   ExampleServerDstu2IT.testCreateAndRead » IllegalState Failed to load Applicati..

[2022-04-07 20:33] jkiddo commented on #339
Fixed: https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/345

[2022-04-07 21:58] chgl commented on #344
Sure! Thank you for your time!

[code]

Save as `docker-compose.yaml` and run `docker compose -f docker-compose.yaml up`.

Slightly off-topic, but I'm thinking once this is solved, we could add integration/e2e tests to the CI pipeline running the container with multiple different database backends.

[2022-04-07 22:44] jkiddo commented on #344
The dialect is not picked up:
```2022-04-06 23:20:01.482 [main] INFO  org.hibernate.dialect.Dialect [Dialect.java:175] HHH000400: Using dialect: ca.uhn.fhir.jpa.model.dialect.HapiFhirH2Dialect```

It is picked up when I run it directly from Intellij .... dont know why yet it fails. Also you should change the dialect to `ca.uhn.fhir.jpa.model.dialect.HapiFhirPostgres94Dialect`

[2022-04-07 22:52] jkiddo commented on #344
[code]

Above works - don't ask why

[2022-04-08 20:52] chgl commented on #344
Brilliant, thank you so much @jkiddo ! I narrowed it down to `spring.jpa.properties.hibernate.dialect`, which does work as an env var when using lowercase and dots while `SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT` no longer works.

[2022-04-08 20:52] #344 closed

[2022-04-11 18:00] jkiddo commented on #339
and https://github.com/hapifhir/hapi-fhir-jpaserver-starter/commit/bf51c2263af48f1a5927363d45c136068c78bd21

[2022-04-11 18:00] #339 closed

[2022-04-18 20:56] ibrohimislam commented on #336
[adnaanbheda](https://github.com/adnaanbheda) you can `mvn install` (read:https://maven.apache.org/plugins/maven-install-plugin/) on hapi-fhir. and then set the hapi-fhir-jpaserver-starter `pom.xml` to the same version as hapi-fhir.

[2022-04-19 19:07] mtyler68 opened #350 "Add App Properties to Enable/Disable LoggingInterceptor"
BaseJpaRestfulServer automatically configures and installs the server-side LoggingInterceptor. This feature request is to add a property switch to enable this interceptor (disabled by default).

[2022-04-26 09:33] jimbung opened #356 "how to remain the 'id' before creating a new instance?"
hi, what i want is, after creating a new instance with 'id' pre-defined in json, e.g.,
{
  "resourceType": "Organization",
  "id": "org001",
   ...
}
i want the 'id' in response data still remains 'org001', for now, it was modified with a sequence number like this:
{
  "resourceType": "Organization",
  "id": "118",
   ...
}

[2022-04-26 12:01] rahatrafiq1810 commented on #172
@Milzor Could you please share your entire Dockerfile? They have changed the dockerfile significantly over the last year and I can't successfully reproduce your solution in the current context.

[2022-04-26 12:23] Milzor commented on #172
Well the idea is still the same. You can replace the entire dockerfile of this project for your own.

It's quite different in my case now as I removed the boot maven profile from the pom and rely fully on spring boot locally and in docker. Steps to accomplish this:

1. Remove boot profile from the pom
2. Add spring dependency bom and any spring boot dependency you want
`
    <properties>
        .

[2022-04-26 15:47] rahatrafiq1810 commented on #172
@Milzor I have created the following multi stage Docker build

`FROM maven:3.8-openjdk-17-slim as builder

RUN mkdir -p /app/source
COPY . /app/source
WORKDIR /app/source
RUN mvn clean package

FROM adoptopenjdk/openjdk11:jre-11.0.14.1_1-alpine as runtime

RUN mkdir -p /data/hapi/lucenefiles && \
    chmod 775 /data/hapi/lucenefiles
COPY --from=builder /app/source/target/ROOT.war /app/
EXPOSE 8080

[2022-04-27 06:21] kiwisky opened #357 ""mvn install" is failed due to running ElasticsearchLastNR4IT test error"

[2022-04-27 06:22] kiwisky commented on #357
I got following error when I am running "mvn install"
[INFO] Running ca.uhn.fhir.jpa.starter.ElasticsearchLastNR4IT
[ERROR] Tests run: 1, Failures: 0, Errors: 1, Skipped: 0, Time elapsed: 7.045 s <<< FAILURE! - in ca.uhn.fhir.jpa.starter.ElasticsearchLastNR4IT
[ERROR] ca.uhn.fhir.jpa.starter.ElasticsearchLastNR4IT  Time elapsed: 7.045 s  <<< ERROR!

It seems the test requires Docker ENV, but my se

[2022-04-27 06:24] kiwisky commented on #356
I have the same question...

[2022-04-27 12:35] KevinDougan-SmileCDR commented on #356
You have to do a PUT (i.e. UPDATE) against the Resource and ID if you want to provide your own ID value:
PUT http://<SERVER_BASE_URL>/Organization/org001
{
"resourceType": "Organization",
"id": "org001",
...
}

If you do a POST (i.e. CREATE) then it won't accept your ID value and will generate a new one.

[2022-04-27 12:35] #356 closed

[2022-05-01 19:51] jkiddo commented on #357
@kiwisky  those tests actually require docker as test containers (https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/fdfa6fd711f411c58b9175223c05141cea0598fe/src/test/java/ca/uhn/fhir/jpa/starter/ElasticsearchLastNR4IT.java#L63) are used to spin up an elasticsearch instance

[2022-05-02 21:04] michaelabuckley commented on #357
We have a test annotation in Hapi -- `@RequiresDocker` .  If you add that to this test, it will be skipped when docker isn't present.  All tests that use docker should include `@RequiresDocker`.  See the JUnit DockerRequiredCondition .

[2022-05-03 08:55] Milzor commented on #172
Looks like you have an issue with spring dependencies. Try to run

```mvn dependency:tree```

and investigate what's wrong.

[2022-05-04 08:29] gsake opened #359 "Helm deploy with external database is failing due to missing Values.postgresql.image.registry"
Based on the instruction in values.yaml the FHIR deployment can be completed either by deploying a postgreSQL database container or using an external database by providing the host, username, password and database name in the externalDatabase section of the values.yaml file.

[code]

Even after setting the postgresql.enabled value to false, the deployment is still trying to deploy the postegreSQL

[2022-05-04 14:53] dennisverspuij opened #360 "supported_resource_types not always applied"
Since a5c1769b91c78dd9efe90f5b7a3f513c7ebe49c9 the `supported_resource_types` setting is no longer applied when it includes SearchParameter in the list.
This can be fixed with:

[code]

Thanks!

[2022-05-04 20:57] joeflack4 commented on #193
This issue is also mirrored here, where I provide much more detail, including the cause in my case, being _Docker issues_. More info: https://github.com/hapifhir/hapi-fhir/issues/3276

Another related issue: https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issues/322

Related; this is also about LOINC, but a different error: https://github.com/hapifhir/hapi-fhir/issues/1629

[2022-05-04 20:57] joeflack4 commented on #322
This issue is also mirrored here, where I provide much more detail, including the cause in my case, being _Docker issues_. More info: https://github.com/hapifhir/hapi-fhir/issues/3276

Related; this is also about LOINC, but a different error: https://github.com/hapifhir/hapi-fhir/issues/1629

[2022-05-04 21:23] joeflack4 opened #361 "Swagger: CodeSystem$lookup: (1) requires non-required params, (2) and doesn't use them"
## Issues
### 1. requires non-required params
However when I try to do this via the Swagger interface, I notice that certain params that should not be required (based on [the docs](https://build.fhir.org/codesystem-operation-lookup.html)) are marked as required, namely the `name`, `display`, and `abstract` "out parameters":
<img width="1502" alt="Screen Shot 2022-05-04 at 4 48 32 PM" src="https://

[2022-05-04 21:57] jkiddo commented on #361
That is a bug for the core project, being https://github.com/hapifhir/hapi-fhir

[2022-05-05 00:00] ttran428 opened #362 "Add `:of-type` Modifier Configuration to application.yaml"
The `:of-type` token modifier was added in 5.7.0 (https://github.com/hapifhir/hapi-fhir/issues/1892), but I believe it is not configurable through the `application.yaml` file in the japserver-starter (please correct me if I'm wrong and this is supported). Could we add support for configuring it in the `application.yaml` file  (which I think is done by updating the `AppProperties.java`)?

[2022-05-06 16:27] jkiddo commented on #362
Like https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/363 ?

[2022-05-06 16:30] jkiddo commented on #359
Could you make a PR?

[2022-05-06 16:31] jkiddo commented on #360
Could you make a PR?

[2022-05-08 19:43] ttran428 commented on #362
exactly like that :D Thanks!

closing becausea done in #363

[2022-05-08 19:43] #362 closed

[2022-05-09 03:49] kiwisky opened #364 "$export does not work"
I am deploying hapi-fhir-jpaserver-starter to an application server with Apache Tomcat.
If following setting are set:
bulk_export_enabled: true

the jpaserver can not be started.
I disable bulk_export_enabled, the jpaserver is OK to start but I got following error from [base]/$export or Patient/$export.
ponse Body
{
"resourceType": "OperationOutcome",
"text": {
"status": "generated",
"div": "<div

[2022-05-09 04:43] aakashkag commented on #196
@theGOTOguy / @JoeMcCaffrey  Could you please create PR. It will super helpful for other developer.Currently there is no auth in hapi fihr :(

[2022-05-09 19:39] #360 closed

[2022-05-11 12:08] hurtigcodes opened #369 "Enabling HTTPS"
Hi! I'm new to this project and to HAPI FHIR overall. How do I enable HTTPS? I have it deployed in Azure as an app service with 'HTTPS only' and get the following error:

I've tested a couple of different configuration options in the application.yml but I can't make it work yet. Any tips for me?

[2022-05-12 18:17] joeflack4 commented on #361
Alright, I'll close this one and re post the issue there.

[2022-05-12 18:18] #361 closed

[2022-05-13 14:15] jkiddo commented on #369
@hurtigcodes if you use the Spring Boot part of this project you should be able to do eg. https://www.thomasvitale.com/https-spring-boot-ssl-certificate/#2-enable-https-in-spring-boot

It depends on where you wan't to terminate the SSL part which is usually done ahead of hitting the FHIR server itself as @joiskash suggests - in nginx

[2022-05-16 02:45] kiwisky commented on #364
The reason is that the configuration "bulk_export_enabled" in application.yaml must be aligned.

[2022-05-16 09:30] hurtigcodes commented on #369
OK I will setup a machine with Nginx in front of the app service then. Thanks @joiskash @jkiddo!

[2022-05-17 14:26] AdityaKBhadragond14 opened #370 "How to access the Database with the daoRegistry to create / read / update resources in custom functions on the server?"
We are writing custom APIs to extend the functionality of the FHIR server. We are able to use the client

`    IGenericClient fhirClient = ctx.newRestfulGenericClient(serverBase);`

to create, read and modify resources. But It seems wrong to use the RestfulClient when we are the same server.. Is there some documentation around using the daoRegistry?

cc: @joiskash

[2022-05-18 10:49] #369 closed

[2022-05-21 20:46] jkiddo opened #374 "6.1.0 snap"
https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/d660dc137004d8bbe2c635fe6b7ae31701f286c0/pom.xml#L17 - @tadgh we haven't made a release for the 6.0.0 part yet. Mind if I turn this back to 6.0.0, tag, release, publish, and then 'turn it back to the future' as in 6.1.0-snapshot?

[2022-05-21 20:51] tadgh commented on #374
Hey @jkiddo , I coulda sworn we tagged the 6.0.0 release, but am currently on a bus so I can't check. If you say it is not done, it was likely forgotten. Feel free to do what you outlined here.

For what it's worth the only reason I bumped it because we realized our 6.0.0 release effectively mandates running with lucene on due to the ValueSetOperationProvider relying on a non optional IFullTextSvc

[2022-05-21 20:59] jkiddo commented on #374
@tadgh woops - I totally missed that you tagged it.

[2022-05-21 21:12] jkiddo commented on #374
Bugger - now the pipeline fails ... :(

[2022-05-21 21:45] tadgh commented on #374
Link me to it? I may be able to make the required fixes and re-tag if needed.

[2022-05-22 06:55] jkiddo commented on #374
https://github.com/hapifhir/hapi-fhir-jpaserver-starter/actions/runs/2364287169

[2022-05-22 06:57] jkiddo commented on #374
But if 6.0.0 requires Lucene I guess that a class shadowed local version of ValueSetOperationProvider in the starter project could do the job for now

[2022-05-22 16:41] tadgh commented on #374
huh i never considered that option, and to be honest, I've never done that before. I can link you the "fixed" version of that class, if you want to add it. here is a version of the class (currently in PR) which fixes this issue: https://github.com/hapifhir/hapi-fhir/blob/f0feca657866fc9ac97a9cb491ce0e1e83847883/hapi-fhir-jpaserver-base/src/main/java/ca/uhn/fhir/jpa/provider/ValueSetOperationProvid

[2022-05-22 18:38] jkiddo commented on #374
@tadgh I've added the shadowing on https://github.com/hapifhir/hapi-fhir-jpaserver-starter/tree/rel_6_0_1 and seems to work as intended

[2022-05-24 09:02] Eernie opened #375 "Publish starter project to the maven central again"
It would be very helpful if the project is also published to the maven central. We would like to use the hapi fhir server, but we need to extend it with some custom logic for authorization and operations. Currently we can only clone the project and backfeed changes. This is quite labor intensive. Ideally we would grab the starter project from the maven central and then extend it with our own code.

[2022-05-26 19:17] jkiddo commented on #374
In the mean time, I see there's now a https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/73d7ee185771a10e9156d7b2d97fe7e5af6ae20f/pom.xml#L17 (6.0.1). Should I release the current branch with the class shadowed version or should the starter-project be bumped to 6.0.1 and then released?

[2022-05-26 19:23] tadgh commented on #374
6.0.1 contains the fix , so you can definitely rely on that one instead of
using the shadowed class

On Thu, May 26, 2022, 2:18 PM Jens Kristian Villadsen <
***@***.***> wrote:

[2022-05-26 19:42] jkiddo commented on #374
When will 6.0.1 be released?

[2022-05-26 19:46] tadgh commented on #374
Soon as our smoke testing is done, you can communicate with @Mark Iantorno
***@***.***>  who will be releasing it. I am heading on
vacation :)

On Thu, May 26, 2022, 2:43 PM Jens Kristian Villadsen <
***@***.***> wrote:

[2022-05-26 20:04] jkiddo commented on #374
I'll assume that would be @markiantorno ;) - and I'm also heading on vacation :)

[2022-05-26 20:05] tadgh commented on #374
You got it that's the one. Enjoy vacation !

On Thu, May 26, 2022, 3:04 PM Jens Kristian Villadsen <
***@***.***> wrote:

[2022-05-29 13:31] markiantorno commented on #374
It's in now. Just rebuilt it and it worked.

[2022-05-29 13:31] #374 closed

[2022-05-31 07:58] eye2web opened #378 "Resthook callback to https endpoint throws SunCertPathBuilderException exception"
When HAPI Tries to call the https webhook on resource change the following exception is thrown.
I tested this with version v.5.6.0, v.5.7.0, and custom build from main. The behaviour is the same.
[code]

I tried to override the setDefaultSSLSocketFactory to disable TLS checking. And tried the following JVM arguments without any succes.
[code]

[2022-05-31 08:52] jkiddo commented on #374
@markiantorno which commit should be tagged?

[2022-06-02 07:39] psx1lin opened #379 "goal org.apache.maven.plugins:maven-enforcer-plugin:3.0.0"
Failed to execute goal org.apache.maven.plugins:maven-enforcer-plugin:3.0.0:enforce (enforce-maven) on project hapi-fhir-jpaserver-starter: Some Enforcer rules have failed. Look above for specific messages explaining why the rule failed. -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X switch to enable full de

[2022-06-02 12:40] neumartin opened #380 "Can't deploy on Mac M1 using Docker"
Hi there!

I try to deploy on a Macbook Pro M1 Max using this Docker command:

`docker run -d -p 8080:8080 --name hapi-fhir hapiproject/hapi:latest`

But after several hours I can reach http://localhost:8080

This is the container log:

[code]

[2022-06-02 14:34] michaelabuckley commented on #380
Hi.  Can you check docker to make sure you are running a native `linux/arm64` image?  You may be running a `linux/amd64` image in x86 emulation.

[2022-06-03 03:41] inowshin19 opened #381 "Custom Configuration not working"
I tried custom configuration in HAPI FHIR. I modified the code in the application.yaml file to enable email subscription and then set the SPRING_CONFIG_LOCATION=file:<the path of the directory of modified application.yaml file> in docker-compose.yml.

I tried to follow this link: https://github.com/hapifhir/hapi-fhir-jpaserver-starter/wiki/Configuration

The server does not start. Can you please t

[2022-06-03 11:15] sidharthramesh opened #383 "Bundle.entry missing in search results with Lucene index enabled"
I want to enable text search on certain token fields (identifier / phone) using the HAPI JPA FHIR server. As per the documentation here: https://hapifhir.io/hapi-fhir/docs/server_jpa/elastic.html, I've enabled certain environment variables as below.

Note: I am not using Elasticsearch.

## Steps to reproduce:
Use docker image: `hapiproject/hapi:v6.0.1` with database (db) `postgres:14`. I'm using t

[2022-06-03 21:28] michaelabuckley commented on #383
Hello Sidharth. Thank you for the bug report.

First problem - missing entries.  That is a bug, and I'll look into reproducing it.   For now, I recommend disabling `hapi.fhir.store_resource_in_lucene_index_enabled`.  It isn't much faster and adds no functionality.

Second problem - `Patient?identifier:text=1256` doesn't match a patient with identifier `1256744`.  This is not a bug.  The `:text` mo

[2022-06-04 11:58] sidharthramesh commented on #383
Hey @michaelabuckley, thank you for your reply.
I created a SearchParameter with type `string` and it is working as expected with both phone numbers and identifiers.
I'm still surprised that there's no default FHIR-native way to search this since it's a common use case.

I've now completely turned off `advanced_lucene_indexing` and `store_resource_in_lucene_index_enabled` and the search on the cus

[2022-06-04 12:24] #359 closed

[2022-06-06 11:26] jamesagnew commented on #370
We've never really written any specific documentation on how to use the DaoRegistry (pull requests against the docs would certainly be appreciated!) but FWIW we have done this a lot internally, and I know lots of other HAPI FHIR users do this as well.

[2022-06-06 18:16] jkiddo commented on #375
I agree - @markiantorno would you agree?

[2022-06-06 18:38] michaelabuckley commented on #383
It is an awkward gap in the spec.  You are not first person to be surprised by this.  Please submit a PR to improve the documentation.

As for disabling lucene - you are correct.  The advanced lucene indexing is only _required_ for the `_text`, `_content`, `:text`, and `:contains` searching.  But we have implementing support for all standard types to provide a faster query engine for users with la

[2022-06-09 07:27] postjohannes commented on #375
I also would see that happen

[2022-06-09 07:27] jmeinsma commented on #375
I also agree

[2022-06-09 07:27] Gerrit23 commented on #375
That woud be great, we also like to extend on the starter project.

[2022-06-18 03:06] ibrohimislam opened #385 "No way to access big binary after upload"
#### Issue description

No way to access big binary after upload.

1. $binary-access-write should be enabled by enabling binary_storage_enabled
2. $binary-access-read should also be enabled by enabling binary_storage_enabled

#### Steps to reproduce the issue

run docker with binary_storage_enabled:
[code]

upload >10MB file and then try to GET it will produce externalized binary. but no way to re

[2022-06-20 21:35] chgl opened #387 "Support for OpenTelemetry Java Agent based tracing"
I've been playing around with the [OpenTelemetry Java auto-instrumentation](https://github.com/open-telemetry/opentelemetry-java-instrumentation) and the HAPI FHIR server to gain insights into processing latencies.

As an example for what it does, here's a screenshot of the Jaeger Web UI for a trace resulting from POSTing a FHIR Patient resource:

![image](https://user-images.githubusercontent.com

[2022-06-22 04:40] lanesky commented on #327
You might want to define your own CORS configuration directly in the code to allow additional headers.

https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/src/main/java/ca/uhn/fhir/jpa/starter/BaseJpaRestfulServer.java#L274-L284

[code]

[2022-06-22 09:53] lanesky commented on #381
What is the error you are encountering?
I tried the docke-compose file below, it seems to work fine and the custom configuration works as expected.

[code]

[2022-06-24 19:26] kellerjo opened #388 "jpaserver docker-image with postresql"
Hello,
I am trying to set up the server as a docker image together with a postresql database. When starting the compose file, I get the following error:
org.postgresql.util.PSQLException: ERROR: relation "hfj_search" does not exist

Is there a schema file I am missing?

[2022-06-24 20:12] KevinDougan-SmileCDR commented on #388
Are you pointing to a pre-existing database with a schema that has already been initialized?

Does it work if you point to an empty schema and let it initialize the database during startup?

[2022-06-26 11:06] kellerjo commented on #388
Thanks for the answer!
I used a fresh porstgre docker instance with no existing database. I have for now reverted to using the h2 database

[2022-06-28 10:19] saurabh-singh-17 opened #390 "Doesnt work with JAVA 11 on windoew"
![image](https://user-images.githubusercontent.com/12830545/176155625-5c96c70f-2259-499e-947b-b39b46f27f3a.png)

It looks for JAVA 17.

[2022-06-28 11:49] KevinDougan-SmileCDR commented on #390
This is by design.
The Unit Tests utilize some JDK 17 features, so you need that to build & test it.

[2022-06-28 11:49] #390 closed

[2022-06-28 21:15] chgl opened #392 "Tomcat-flavored container is not starting the server"
When testing https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/391 I noticed that the HAPI FHIR server wouldn't start when using the tomcat "flavored" image:

[code]

This does start the tomcat server but HAPI itself is never deployed.

I believe the issue is in https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/Dockerfile#L31 - the .war file is copied to  `/opt/bitnami

[2022-06-29 05:47] saurabh-singh-17 opened #393 "Upload new IG https://ig.hcxprotocol.io/v0.7/ into HAPI JPA as default Structure Defintion"
Hello Team,

We are from Swasthalliance and we are working to promote FHIR in healthcare systems in India. We have defined our own specifcations/Implementation Guides with our own terminologies. We are trying to explore how can we add our IGs https://ig.hcxprotocol.io/v0.7/ into HAPI JPA. Our profiles are R4. We want to create resource for our structure definition, validate profiles and update ter

[2022-06-29 13:57] saurabh-singh-17 opened #394 "Unable to validate a coverageeligibilityrequest against profiles other than HL7"
Hello Team,

I am using RepositoryValidatingInterceptor to validate coverageeligibiltyrequest against profile https://ig.hcxprotocol.io/v0.7/StructureDefinition-CoverageEligibilityRequestDocument.html

Changes done to jpa stater

1. enable_repository_validating_interceptor: true
2.added code to RepositoryValidationInterceptorFactoryR4.java

repositoryValidatingRuleBuilder.forResourcesOfType("Cover

[2022-06-29 14:20] AnubhavJain2006 opened #395 "Custom Search Parameter in Custom Resource"
Hello,
          I have created one custom resource named as ClaimStatus. I have registered that resource in restful server and it is showing on swagger. I used claim resource as reference in claim status. I also created search parameter according to need  .Now I want to search claim status on the basis of claim id but i am not getting any record with search while other end points are working prop

[2022-07-04 17:44] #387 closed

[2022-07-05 09:12] psavva commented on #394
Have you loaded the StructureDefinition to the FHIR Server?

Please notice 2 things:
1) diagnostics": "dom-6" is a warning as you are missing the "div" tag. This will not cause the validation to fail, but raises warning that you're missing the div.
https://www.hl7.org/fhir/domainresource.html

2) The actual error you're facing is that the fhir server cannot "find" the profile.
It means that you ha

[2022-07-05 13:15] Eernie commented on #375
@jkiddo / @markiantorno any updates on this?

[2022-07-05 14:39] markiantorno commented on #375
I'll look into getting this set up.

[2022-07-05 15:55] ZuSe commented on #327
That's exactly what we did. Question was more if we want to provide it as part of the config

[2022-07-07 10:39] patrick-werner commented on #315
still getting the issue with 6.0.1 if i remove     allow-circular-references: true from the application.yaml

[2022-07-07 18:00] jkiddo commented on #392
@chgl Please do

[2022-07-12 12:06] #392 closed

[2022-07-12 19:16] dyoung-work opened #401 "Included resources disappear from search results until $reindex"
Hi maintainers! I'm having an issue with resources not showing up in searches that make use of includes. To be clear, these are searches that *were* returning the included resources, but *stopped* doing so (i.e. I refresh my browser tab with the search in it and the resources disappear). For example, `[tenant_id]/EnrollmentRequest?_include=*` will suddenly stop returning all Patient resources (or

[2022-07-19 13:37] emomicrowave opened #402 "Filesystem storage for binary data possible?"
Let me start off by saying that I know SmileCDR and this project are different products. That said, I've followed the [SmileCDR documentation](https://smilecdr.com/docs/fhir_repository/binary_data.html) for binary storage using `$biary-access-write` and `$binary-access-read`. Looking at their documentation, there are multiple config options that aren't available in the `application.yaml` of this p

[2022-07-19 14:30] tadgh commented on #402
Heya, yup this is definitely possible, the Filesystem mode is available in HAPI-FHIR. The two components that matter are:
1. BinaryStorageInterceptor.
2. the interface IBinaryStorageSvc.

To make the JPA Server use the FilesystemBinaryStorageSvcImpl, it should be sufficient to define it as a bean as such:
[code]

Note how JPA Server's FhirConfigCommon class defines this bean, but instead returns a

[2022-07-22 15:20] rcrichton commented on #250
I've just experienced this as well when my Observation had `valueInteger: 29` I changed it to `valueString: "29"` and it worked.

[2022-07-25 08:27] Eernie commented on #375
@markiantorno This is great. Any ETA on when you'll create the release pipeline?

[2022-07-25 17:30] jmarchionatto opened #403 "Update Elastic/Lucene configuration class property to match fhir HSearch namespace consolidation"
fhir HSearch namespace consolidation renamed repackaged some configuration classes, which need to be reflected in Application.yaml file

HapiLuceneAnalysisConfigurer and HapiElasticsearchAnalysisConfigurer are now internal classes of HapiHSearchAnalysisConfigurers component class.

[2022-07-26 22:12] amuslim-fn opened #404 "Unable to perform bulk import"
I'm attempting to bulk import a bundle of resources to a local HAPI-FHIR instance that I have running via Docker Hub as described [here](https://hub.docker.com/r/hapiproject/hapi) but am repeatedly running into the `not-supported` error below:

`{'resourceType': 'OperationOutcome', 'text': {'status': 'generated', 'div': '<div xmlns="http://www.w3.org/1999/xhtml"><h1>Operation Outcome</h1><table bo

[2022-07-27 18:34] jmarchionatto commented on #403
Fixed by: https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/405

[2022-07-27 18:34] #403 closed

[2022-07-28 08:52] Daanoz commented on #313
Hmm, it looks like all the base images don't have arm64 support.

bitnami/tomcat:
- https://github.com/bitnami/bitnami-docker-tomcat/issues/99
- https://github.com/bitnami/charts/issues/7305

gcr.io/distroless/java17:nonroot:
- https://github.com/GoogleContainerTools/distroless/issues/1087 (It's my ticket, as I think that one should be working)

[2022-07-29 00:14] krish-freenome commented on #404
I see that the BulkDataExportProvider is being imported [here](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/src/main/java/ca/uhn/fhir/jpa/starter/BaseJpaRestfulServer.java#L15), and then registered [here](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/src/main/java/ca/uhn/fhir/jpa/starter/BaseJpaRestfulServer.java#L363).  I wonder if something similar ne

[2022-07-29 08:19] Daanoz commented on #313
Ok, based on the linked threads, I worked around the problem using the following in a Dockerfile:

[code]

(note: you need to use `java17-debian11` and not `java17`)

[2022-08-01 15:13] billkuojhgf opened #406 "Unable to generate bulk export resources after bulking resources for a few days."
Hello team,

I've been using bulk export service on Docker with the `hapiproject/hapi:latest` image. And after setting up all the bulk service configurations, it can work perfectly in my container. But after four days, I startup the hapi fhir container, the patient/$export request could not export any data in hapi. The resources are still inside the server, and hapi do generate bulk export jobs su

[2022-08-03 11:47] brianraila commented on #364
@kiwisky this doesn't seem to sort the issue.
I have an application.yaml im using but still getting the issue.
[https://github.com/brianraila/hapifhir-docker/blob/main/application.yaml ](https://github.com/brianraila/hapifhir-docker/blob/main/application.yaml ) on line 112.
Kindly assist

[2022-08-05 15:23] cdelanchy opened #409 "Automatically load npm installed FHIR packages in the Validator [Feature request]"
Hello there!

I managed easily with the documentation to set-up an HAPI FHIR JPA server running with the supported resources I wanted. However, I also wanted to add specific profiles from my country (FrPatient for example) and to set HAPI to validate the Patient resource it will get against this profile. It was really difficult: I managed it with the help of other people.

In fact, the solution wa

[2022-08-06 14:34] billkuojhgf commented on #364
@brianraila The $export request is working successfully on my hapi.
FYI, this is my configs.
[https://github.com/billkuojhgf/Model-on-fhir/blob/develop/Configs/another.application.yaml](https://github.com/billkuojhgf/Model-on-fhir/blob/develop/Configs/another.application.yaml)

[2022-08-06 14:43] brianraila commented on #364
Thanks 👍🏿

[2022-08-08 07:47] brianraila commented on #364
@billkuojhgf Still unable to do that.
Getting this
[code]

[2022-08-12 16:02] billkuojhgf commented on #364
Hmmm... interesting.
I deploy hapi server with Docker and Jetty with this application.yaml, and both of them works fine on it.
Have you tried out deploying your project with Docker or Jetty? If these two deploy methods all works fine with this configuration, then maybe the problem is because of the Tomcat.
BTW, I just looked at your hapi server, and I found out that your HAPI is running at version

[2022-08-12 17:02] brianraila commented on #364
Thanks alot for the assistance. Really appreciated.
I finally managed to get it working.

[2022-08-16 21:57] jkiddo commented on #409
Hi @cdelanchy - good to know you succeeded. I think you missed the point around https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/4978f32e320da49317ba490db11712d83834c8c6/src/main/resources/application.yaml#L75 which automatically makes the server go fetch the npm from the designated url and then loads it into the database. From there you can eg. then use  https://github.com/hapifhir/ha

[2022-08-17 04:58] realizm opened #412 "docker still use MySQL"
MySQL is deprecated on hapi-fhir v6.x.
https://hapifhir.io/hapi-fhir/docs/server_jpa/database_support.html

But jpaserver starter docker still uses MySQL.
[docer-compose.yml](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/docker-compose.yml)
`image: mysql:latest`

[2022-08-20 02:02] #404 closed

[2022-08-22 06:31] realizm opened #414 "create transaction bundle throw exception when elasticsearch enabled."
[es_error.log](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/files/9391713/es_error.log)

open-jdk-jre 17
tomcat9
postgrss
elasticsearch 7.17.5

Create TransactionBundle with ES : exception
HAPI-0389: Failed to call access method: java.lang.IndexOutOfBoundsException: Index 0 out of bounds for length 0

Create Individual resource with ES: work well.
Create TransactionBundle w/o ES: work w

[2022-08-22 07:37] #414 closed

[2022-08-22 11:58] patrick-werner commented on #313
@jkiddo this works fine. What do you think about switching to java17-debian11 for the distroless build?
For the debuggable image we could use:  java17-debian11:debug, or switch to alpine. Both are supporting arm64.

What do you think?

[2022-08-22 14:37] jkiddo commented on #313
Im fine with that. That is also what https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/413 is about

[2022-08-22 17:31] Sigfried commented on #313
Apologies for never testing that suggestion. I haven't worked on the project where this issue arose since February. But, if there's now a fix and someone wants me to test it, I can do that.

[2022-08-24 20:23] chgl opened #416 "Consider pushing the container image to GitHub's own container registry ghcr.io"
Currently, the HAPI FHIR JPA server image is only hosted on Docker Hub, which does have some occasional availability issues and rate-limits pulls by default.

The GitHub container registry is freely available for open source projects: https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry. We could push the container image to this registry a

[2022-08-29 15:29] nekrasoft opened #421 "Optimize slow request "select resourcesearchview""
Hi, thanks for your hapi-fhir implementation.

We're using the latest version of fhir-service in our infrastructure. Everything is ok, but we've found one internal slow operation which turned out to be the common reason for several different api-requests.
This operation is `iresourcesearchviewdao.findbyresourceids -> select resourcesearchview`
We've discovered it with the help of OpenTelemetry met

[2022-09-04 06:15] sidharthramesh opened #423 "Remote Terminology Server for Lookup, Expand operations"
Is it possible to use the HAPI FHIR Server to do operations on Remote Terminology servers if a particular code system or value set is not available locally?

Some use cases are:
1. Querying using SNOMED ECL from a Terminology server that supports it.
2. Using the LOINC Terminology API in the background for LOINC codes while a single API is provided via HAPI FHIR
3. Local Terminologies are loaded u

[2022-09-07 19:34] cdelanchy commented on #409
Hi @jkiddo!

Thank you for your answer. And sorry for the long delay in my response (but yes, summer vacations were great :D).

I want to try your method, which seems a lot easier than mine. But the package I want to use is available on Simplifier: https://simplifier.net/packages/hl7-france-fhir.administrative/11.2021.1

The website gives us a command to download the package using npm: `npm --regi

[2022-09-07 19:45] KevinDougan-SmileCDR commented on #421
Hi there,

I believe you may need to investigate the database that you are using for possible performance issues.

Is it one of the supported databases?

https://hapifhir.io/hapi-fhir/docs/server_jpa/database_support.html

Is it in the same local network as your FHIR Server or is it in "the cloud" or on some other remote network?

More information would be required to determine the root cause of y

[2022-09-07 19:45] #421 closed

[2022-09-07 20:22] cdelanchy commented on #409
I'm adding more details after some testing.

I get the .tgz file using this URL: `https://packages.simplifier.net/hl7-france-fhir.administrative/11.2021.1` (tested with a `wget`, rename the file with .tgz, and `tar xvf` the file: I get the same file as using npm).

Thus, I changed my `application.yml` this way:

[code]

I repackaged the server with `mvn clean package -DskipTests spring-boot:repack

[2022-09-07 20:45] jkiddo commented on #409
[code]
is enough for HAPI to download the IG as it is already posted to the global registry

[2022-09-07 22:52] tjforbes opened #424 "Deploying on centos release 8 and Tomcat 10.x"
i was able to cleanly build the WAR file (including the  tests)  with mcn clean install.  The WAR file deploy to tomcat looked ok but tossed a 404 error when trying to access.  reverting back to tomcat 8.5 seems to resolved the problem so i'm guessing  there may be inconsistencies with some of the more recent Servlet's?  I'm new to working with mvn, tomcat and of course hapifhir and would like to

[2022-09-09 08:46] kanth233 opened #425 "connection to aws postgresql instance to docker-compose"
i have successfully deployed hapi-fhir server in amazon-linux2 ec2 instance and using docker-compose i have created two containers which is one hapi-server-container and other postgres db container and i am able to successfully connect to db from my pg admin but i wanted to have real database instaed of virtual one like the container and wanted to connect to that real postgresdb which is deployed

[2022-09-22 16:29] cdelanchy commented on #409
Hello there!

Thank you for your reply, @jkiddo: it really helped!

I had 2 packages to download. And they are both on the FHIR registry. I managed to fully download one, HAPI managed to import it and the validation is successful when I try to post a ressource with the corresponding profile.

For the second package, HAPI failed to import them, but thanks to the logs, I reported the problems to the

[2022-09-26 07:32] ZuSe opened #429 "Allow to define elastic index prefix via config"
Reminder to us, that we don't forget to take care about it.

As discussed here.
https://github.com/hapifhir/hapi-fhir/issues/4077

[2022-09-26 12:26] ZuSe opened #430 "How to register the CORS interceptor?"
After the change in the project structure the corsInteceptor doesnt seem to be registered anymore.
https://github.com/hapifhir/hapi-fhir-jpaserver-starter/commit/d660d5f76d63ad4697148f9d612aedd29640efe9

[code]

What is now the correct way to make the interceptor work again?

[2022-09-27 10:12] FrancisChristy opened #431 "Server requires a restart everyday"
I have hosted the server in ec2 using docker. The server is going down after a few hours. So, I have to manually restart the server everyday in the morning. Is there some fix for this?

[2022-09-27 15:03] XcrigX commented on #431
I think you'll need to provide more details if you hope to get any assistance - such as the server log and details on what you are observing.

[2022-09-28 00:22] ttran428 opened #433 "Enable History Counting in application.yaml"
Hi! I would like to request a feature to be able to configure `HistoryCountMode` in the `application.yaml` file: This is documented in https://hapifhir.io/hapi-fhir/docs/server_jpa/performance.html#history-counting which was created in https://github.com/hapifhir/hapi-fhir/issues/2641. Let me know if there is a different way I should be configuring this field!

[2022-09-28 20:53] jkiddo commented on #430
@ZuSe thats a bug.

[2022-09-28 20:58] jkiddo commented on #424
Is it mandatory for you to deploy to a managed tomcat instance? The other default option is to run it with the embedded tomcat

[2022-09-28 21:02] jkiddo commented on #416
I have no burning wish for this but I get the arguments. I don't have admin access so this needs someone else's approval.

[2022-09-28 21:04] jkiddo commented on #409
np

[2022-09-28 21:05] #402 closed

[2022-09-28 21:06] tjforbes commented on #424
no its not mandatory in fact ver 9 works better for at this time and is preferred.  Some of the post was to discover if im doing something wrong, or if not then alert others to this condition, and finally to discover if there will be at some point some possible plan to figure out what changed.  We think this might be somewhat common as we have seen this as well with component releases for things l

[2022-09-28 23:14] chgl commented on #416
I absolutely agree that this isn't at all necessary but just a nice-to-have. So definitely not a priority.

[2022-09-29 04:42] FrancisChristy commented on #431
Actually....there are no logs. I just restart the server using "docker start". By the next day, the server would have gone down. So when i try accessing using postman, it returns an error. When i restart it, the error disappears. So, I just wanna know why the server is going down after every few hours. I'm using docker hapi fhir starter pack.

[2022-09-29 07:24] #409 closed

[2022-09-29 14:50] XcrigX commented on #431
The HAPI server should be logging to console in the docker container. You can view the logs using docker commands such as:
_docker logs <containername>_ (or something similar - check the docker documentation). You can tail the logs I think with: _docker logs -f <containername>_ - so you could keep a watch on it overnight if you can't see the logs after the container crashes.

Lots of things could

[2022-10-03 06:51] shubhddn01 opened #436 "Missing PHI encryption"
Hello Team,
I am using this repo and found that resource data is not saved as encrypted in db. As HIPAA always recommend to save the PHI data in encrypted form.

Can you please suggest what all options are open for me to solve this issue.

[2022-10-03 11:18] sjayswal opened #437 "Improve $poll-export-status to include all required attributes."
$export-poll-status is not currently sufficient. According to the HL7 [specification] for bulk export, the poll response for a completed Bulk Export job is required to include five elements:

{{transactionTime}}
{{request}}
{{output}}
{{requiresAccessToken}}
{{error}}

The above mentioned issues have been fixed here for different repository of hapifhir.
https://github.com/hapifhir/hapi-fhir/issues

[2022-10-03 12:03] jkiddo commented on #437
@sjayswal since its fixed in core, it will probably go into next release of the starter project whenever the next version of core is released.

[2022-10-03 12:04] jkiddo commented on #436
@shubhddn01 supporting encryption-at-rest is a DB specific feature. Look into your preferred DB engine and check if it supports that.

[2022-10-03 12:13] jamesagnew commented on #437
Yup, these fixes are currently being worked on and should be present in
6.2.0 when that's released.

Cheers,
James

On Mon, Oct 3, 2022 at 8:03 AM Jens Kristian Villadsen <
***@***.***> wrote:

[2022-10-03 12:46] shubhddn01 commented on #436
Thanks a lot man.

[2022-10-03 12:46] #436 closed

[2022-10-03 12:48] jkiddo commented on #412
@realizm will you make a PR to fix this?

[2022-10-03 14:16] sjayswal commented on #437
@jkiddo and @jamesagnew ,

Thank you for your quick response. Good to hear that.

**Can you please tell me when the 6.2.0 version will be released ?**

[2022-10-03 14:20] jkiddo commented on #437
Its usually around a week after the core is released.

[2022-10-03 14:40] sjayswal commented on #437
@jkiddo,

Okay thanks for the update. Can you please tell me when the core will be released ?

[2022-10-03 14:47] jamesagnew commented on #437
Should be roughly the second week of November.

On Mon, Oct 3, 2022 at 10:40 AM sjayswal ***@***.***> wrote:

[2022-10-05 06:36] RafaelWO opened #438 "Description of Configuration Variables (datasource.max-active vs hikari.maximum-pool-size)"
Hi, I'm having trouble understanding some variables from the configuration file `application.yaml`. Most of them are clear or documented in the [wiki](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/wiki/Configuration) but e.g. I don't know what the `datasource.max-active` corresponds to (compared to the `hikari.maximum-pool-size` - which is not mentioned in the wiki).

Can someone help me

[2022-10-05 06:54] RafaelWO commented on #260
Any updates on this? According to the [changelog](https://hapifhir.io/hapi-fhir/docs/introduction/changelog.html) it should be available from v6.0 onward. Is there any documentation on how to do a bulk import? Thanks!

[2022-10-05 11:33] jkiddo commented on #260
@RafaelWO its located here: https://github.com/hapifhir/hapi-fhir/blob/67e67bbf44a76e4c16ebbed307e8313b9c3b2320/hapi-fhir-storage-batch2-jobs/src/test/java/ca/uhn/fhir/batch2/jobs/imprt/BulkDataImportProviderTest.java

[2022-10-05 20:40] KevinDougan-SmileCDR commented on #438
Hi @RafaelWO ,

These config settings are automatically mapped by the Spring Framework itself.
See more info about the Spring Datasource Configuration properties here:
https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/htmlsingle/#data.sql.datasource.configuration

The Spring Boot Release Notes discusses how the `common` properties are mapped to the `spring.datasource` namespace an

[2022-10-05 20:40] #438 closed

[2022-10-06 07:39] RafaelWO commented on #438
Thanks for your answer! Does this effectively mean that for configuring the max connections I can ignore the common `max-active` and just set `hikari.maximum-pool-size`?

Sorry if this is a dumb question but I have not much experience with Java Sprint (Boot).

[2022-10-06 07:44] RafaelWO commented on #260
Thanks a lot! Am I correct that the bulk import only works with "POSTing" URLs to the actual resources and not the resource content itself?

[2022-10-06 09:37] jkiddo commented on #416
@tadgh / @jamesagnew I sugggest you ping us here if/when you would like this. As mentioned, this is nice to have - not need to have so we'll just wait until you think this is something that should be done.

[2022-10-06 11:18] patrick-werner opened #439 "Rest Hook Subscription is always on"
Due to the code: https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/531d2557820b5ecbe725a9142dd231413a6dd716/src/main/java/ca/uhn/fhir/jpa/starter/common/FhirServerConfigCommon.java#L206

Subscriptions will be added, even if disabled.

[2022-10-06 11:26] ZuSe commented on #430
Your fix works. Thanks!

[2022-10-06 11:26] #430 closed

[2022-10-06 12:26] #439 closed, assigned to nobody

[2022-10-06 14:52] patrick-werner opened #441 "SubscriptionDebugLogInterceptor() is added with subscription disabled"
If `subscription:` isn't null, but set to false new SubscriptionDebugLogInterceptor() is loaded.

https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/7a72c86a637548d3bb1fb7ee69fe7c5d7884c8c8/src/main/java/ca/uhn/fhir/jpa/starter/common/StarterJpaConfig.java#L349

[2022-10-11 06:59] jamesagnew commented on #421
This is neat analysis, thanks for sharing.

That specific query path amounts to "load the resource bodies and metadata
for a collection of resource IDs", where the IDs were discovered in a
previous step. Effectively this points to you loading quite a bit of data
(as opposed to, say, performing an inefficient search where index
optimization might help). Do your use cases require you to fetch a larg

[2022-10-11 11:07] RafaelWO opened #443 "How to set DaoConfig Properties"
Hey, I wonder how one can set properties within the `DaoConfig`, e.g. disabling the delete operation or disabling `:text` indexing for improving the performance (see [docs](https://hapifhir.io/hapi-fhir/docs/server_jpa/performance.html)).

Thanks a lot!

P.S. Probably related to #433.

[2022-10-11 18:00] #441 closed

[2022-10-11 18:02] #412 closed

[2022-10-11 19:56] jamesagnew commented on #431
Closing due to lack of response. @FrancisChristy please feel free to open a ticket if this happens again. Please make sure to include all relevant logs, environment details, etc.

[2022-10-11 19:56] #431 closed

[2022-10-15 05:40] laneb opened #445 "mvn verify fails on master"
A number of integration tests failing for me. Not obvious what the cause is. Appears the CI build is passing because it only runs `mvn package`, which does not trigger the integration tests.

[code]
The failures are all caused by the following error
[code]

[2022-10-17 14:30] XcrigX commented on #445
I'm not in a spot to validate at the moment, but try adding the "-Pboot" flag.

[2022-10-18 18:33] laneb commented on #445
Same issue when running as suggested
[code]

[2022-10-18 22:45] laneb commented on #445
The tests were passing as of d61c8a5. It seems they began failing when https://github.com/hapifhir/hapi-fhir-jpaserver-starter/pull/444 was merged.

[2022-10-19 05:07] laneb commented on #445
Restoring the H2 datasource in `src/main/resource/application.yaml` resolves the issue for me. Per [this thread](https://groups.google.com/g/hapi-fhir/c/gGECVo4nLZw), I think the error I observed occurs when Hibernate cannot connect to postgres as configured.

It is counterintuitive to me (a newcomer) that `src/main/resources/application.yaml` influences the app in test given the existence of `src

[2022-10-20 07:17] sjayswal opened #446 "Bulk export for certain resources are not supported"
Hello,

We are in the process of completing the ONC requirements. We are trying to test the Multi-Patient Authorization and API Test cases but we are facing issues in bulk export of
below resources.

Organization, Location, Medication, Device, Practitioner

We are using hapi-fhir-jpaserver-starter version 5.7.6

And we are getting below error while doing the bulk export.

Resource types [Organizat

[2022-10-24 10:25] gjergjsheldija opened #447 "Question regarding implementation of OpenSearch"
Hi,

I've managed to have HAPI working with OpenSearch. The changes, need to happen in the `ca.uhn.fhir.jpa.search.lastn` and are a bit heavy. Basically, there is the need to refactor the `Elasticsearch*` classes in order to be able to handle both Elastic and OpenSearch.
After that, those changes need to be also enabled in the jpastarter project.
I can gladly create a PR on `hapi-fhir` project. Th

[2022-10-25 11:39] okongwu101 opened #448 "Google cloud build failure"
I have been trying to build and deploy the hapi project using google cloud build and run. The build process seem to complete successfully, but the container does not start. I get this error:

**The user-provided container failed to start and listen on the port defined provided by the PORT=8080 environment variable.**

Where and how do i modify the hapi-project code to remove this error? I have don

[2022-10-25 13:59] okongwu101 commented on #448
Thank you for the response. The build process on the google cloud uses the Dockerfile. The datasource segment of application.yaml file is modified cos i plan using cloud hosted postgressql database. I added the 'ENV port 8080' and 'EXPOSE ${port}' commands before the last line in the Dockerfile. A copy of the files are below.
_please don't mind the formatting._

**Application.yaml**
`
#Adds the op

[2022-10-25 21:53] XcrigX commented on #445
Agree with your assessment @laneb  - Looks to me like it would be better of the #444 commit overrode the datasource as environment variables in the Docker container rather than altering the defalt classpasth application.yaml file to point to Postgres. Probably just an oversite here.  @jkiddo ?
Related, do the github auto-checks only run unit tests and not integration tests? They would have caught

[2022-10-26 15:49] XcrigX commented on #447
@gjergjsheldija  - you might pose this question on the main HAPI project - I did see this prior related issue there:
https://github.com/hapifhir/hapi-fhir/issues/3167

[2022-10-26 18:37] jkiddo commented on #445
@XcrigX - yes, that PR went a bit too far. I'll roll it back to default to H2

[2022-10-27 06:26] gjergjsheldija commented on #447
@XcrigX  thank you, will add there

[2022-10-29 09:25] jkiddo commented on #447
@gjergjsheldija are you good with closing it here and continuing on the core project?

[2022-10-30 04:59] #447 closed

[2022-10-31 23:24] laneb commented on #445
Thanks @jkiddo.

@XcrigX That's correct, the [CI workflow](https://github.com/hapifhir/hapi-fhir-jpaserver-starter/blob/master/.github/workflows/maven.yml) run `mvn package`, which does not include unit tests. I'd suggest swapping that for `mvn verify` to include integration tests.

[2022-11-01 05:55] jkiddo commented on #445
Please provide a PR then

[2022-11-02 13:10] mkaehlershs opened #460 "code:in does not work correct with valueSets that have more than 1000 codes"
**Describe the bug**
Pre calculated expansions of ValueSets can have more than 1000 code.
In my case I have a ValueSet with 1001 codes. When I use code:in search, the last code is not considered and resources with this 1001th code are not returned. Is this another bug?

**To Reproduce**
Steps to reproduce the behavior:
1. Create valueSet with more than 1000 codes
2. Create obersvation resource tha

[2022-11-09 04:16] Navina107 opened #452 "HAPI FHIR is targeting JDK 11 for published binaries, but we require JDK 17 to build and test this library."
When tried to run the hapi-fhir-jpaserver-starter code , i get error stating that HAPI FHIR is targeting JDK 11 for published binaries, but we require JDK 17 to build and test this library.

I run with hapi fhir version 6.1.0 , java 11 and maven 3.8.6 .  The documentation says minimum required version is jdk 11

[2022-11-09 10:36] sjayswal commented on #446
Hello,

We have merged below given branch with master but given issue is not fixed.

https://github.com/hapifhir/hapi-fhir-jpaserver-starter/tree/rel_6_2_0

Kindly provide your inputs or if any corrections needed.

[2022-11-09 10:42] sjayswal opened #453 "Forward reference issue with some resource types in bulk export"
Hello,

In reference with issue mentioned at  https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issues/446 We tried doing
below
We have merged branch https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issues/446 with master.but issue still persists.

Kindly provide your inputs or if any corrections needed.

[2022-11-09 10:49] #446 closed

[2022-11-09 14:28] KevinDougan-SmileCDR commented on #452
We use some advanced features of Java in our Unit & Integration Tests, so that's why you need Java 17 to build the project.
However, you only need Java 11 to execute the binaries since we target that version for published binaries.

[2022-11-09 14:28] #452 closed

[2022-11-10 23:52] ktadiko opened #454 "Opensearch connection failing with Invalid or missing tagline"
### pom.xml changes
[code]

### application.yaml changes
[code]

### docker-compose.yaml
[code]

Running into
[code]

[2022-11-10 23:54] ktadiko commented on #454
@tadgh would appreciate any guidance here since you added support for Opensearch in the [hapi-fhir](https://github.com/hapifhir/hapi-fhir) project

[2022-11-11 00:06] tadgh commented on #454
Ah yeah.... that entire elasticsearchsvcimpl is deprecated, and will be removed. Do you intend to use this service and its lastN implementation?

[2022-11-11 00:40] ktadiko commented on #454
Not really. Just trying to make opensearch work locally. Is there a different service I should be pointing at? Would appreciate if you can check the application.yaml and recommend any changes.

I saw that there's a hibernate search native way to replace the current lastN implementation that's supposed to work on elasticsearch or opensearch.

[2022-11-11 00:52] tadgh commented on #454
I _assume_ you are using hapi-fhir-jpaserver-starter. If you just remove the ElasticsearchSvcImpl bean definition, or alternatively, don't import the `	ElasticsearchConfig.class ` should avoid creating that bean completely. FWIW, the elasticsearchsvcimpl is not compatible with opensearch, but our hibernate-search solution is. hapi-fhir-jpaserver-starter will be updated once the deprecation becomes

[2022-11-11 03:02] ktadiko commented on #454
Thanks for the pointer. I was able to get it working by getting rid of the definition.

However running into the issue below because I have `enable_index_missing_fields: true`. Happy to open another issue if you don't think it's related.

[code]

[2022-11-11 04:04] tadgh commented on #454
I think you may be the first person to try to enable that toggle while also
using advanced hibernate search indexing. If you can replicate this in
HAPI-FHIR we would appreciate a report for sure. Out of curiosity, are you
upgrading an existing DB, or is this on a completely new installation with
no data?

On Thu, Nov 10, 2022 at 7:02 PM ktadiko ***@***.***> wrote:

--
--Gary

[2022-11-11 04:12] ktadiko commented on #454
Will do! I have never played around with the hapi-fhir project. Assuming that [this](https://hapifhir.io/hapi-fhir/docs/contributing/hacking_guide.html#hacking-hapi-fhir) is the place to start.

It's a new installation with some seed data and custom search params created during server startup.

Thanks for all your help!

[2022-11-11 04:13] #454 closed

[2022-11-22 21:02] chgl opened #459 "Highly-parallel conditional creates cause duplicate resources to be created"
If multiple clients are sending conditional-create (or update) transactions in parallel, instead of just one succeeding they all do causing duplicate resources to be created.

I was initially investigating the multi-replica behavior of the HAPI FHIR server (once more, see https://github.com/hapifhir/hapi-fhir-jpaserver-starter/issues/48) but noticed this happening on single-instance setups as well

[2022-11-24 13:09] alxcost commented on #388
Hi. This issue still occurs on PostgreSQL databases with the most recent versison.
This is with fresh porstgres instances with no existing database or schemas.

[2022-11-29 06:41] ktadiko opened #461 "Unknown job definition ID: REINDEX when trying to create search parameters"
Server fails with error below when trying to create some search parameters as part of start up.

[code]

### Release: 6.2.1

### application.yaml changes
[code]

### docker-compose.yaml
[code]

[2022-11-29 06:52] ktadiko commented on #461
Was able to resolve by adding

[code]

before creating search parameters

[2022-11-29 06:52] #461 closed